<h1>Class</h1>
<label> Class Title: </label>
<p> <%= @school_class.title %></p>
<label> Room Number: </label>
<p> <%= @school_class.room_number %></p>
<h3><%= link_to "All classes", school_classes_path %></h3>
